@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-playpen-sans);
  --font-mono: var(--font-playpen-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --title: #232323;
    --foreground: #ededed;
  }
}

body {
  background: url(../public/bg.jpg);
  background-size: cover;
  background-position:center;
  height: 100%;
  color: var(--foreground);
  font-family: Playpen, sans-serif;
}
