@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-playpen-sans);
  --font-mono: var(--font-playpen-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --title: #232323;
    --foreground: #ededed;
  }
}

a:hover:active {
  scale: 95%;
}

html::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: url(./img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: var(--foreground);
  filter: blur(5px);
}

a {
  transition: scale ease-in-out 100ms;
}


body {
  height: 100%;
  color: var(--foreground);
  background-color: black;
  font-family: Playpen, sans-serif;
}
